body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00642d;
  color: white;
}

h1 {
  font-size: 24px;
}
.buttonCon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  overflow: hidden;
  background-color: #da291c;
  border-radius: 50%;
  border: 7px solid white;
  cursor: pointer;
}
.buttonCon p {
  border: none;
  width: 100%;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}

.buttonCon:hover {
  background-color: #a31f15;
}
